vti_encoding:SR|utf8-nl
vti_author:SR|TRISTANGRAC0595\\Sontris1
vti_modifiedby:SR|TRISTANGRAC0595\\Sontris1
vti_timelastmodified:TR|15 Jan 2015 23:45:50 -0000
vti_timecreated:TR|15 Jan 2015 00:43:55 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style2.css styles/style3.css default.html
vti_nexttolasttimemodified:TW|15 Jan 2015 23:13:34 -0000
vti_cacheddtm:TX|15 Jan 2015 23:45:50 -0000
vti_filesize:IR|809
vti_cachedlinkinfo:VX|S|file://psf/Home/Documents/My\\ Web\\ Sites/mysite3/images/20131010_085443.jpg
vti_cachedsvcrellinks:VX|FSUS|images/20131010_085443.jpg
