vti_encoding:SR|utf8-nl
vti_author:SR|TRISTANGRAC0595\\Sontris1
vti_modifiedby:SR|TRISTANGRAC0595\\Sontris1
vti_timelastmodified:TR|15 Jan 2015 00:43:55 -0000
vti_timecreated:TR|15 Jan 2015 00:43:55 -0000
vti_cacheddtm:TX|15 Jan 2015 00:43:56 -0000
vti_filesize:IR|2580
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background_tile.gif S|../images/masthead_image.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background_tile.gif FSUS|images/masthead_image.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
